<div>
    <div><button (click)="exit()"><i class="fa fa-times"></i></button></div>
    <div *ngIf="file === 'null'" class="placeholder">
      <p>PLEASE ADD IMAGE</p>
    </div>
    <div class="cropper">
        <image-cropper 
        [imageChangedEvent]="imgChangeEvt" 
        [maintainAspectRatio]="true" 
        [aspectRatio]="4 / 4"
        [resizeToWidth]="256" 
        format="png" 
        (imageCropped)="cropImg($event)" 
        (imageLoaded)="imgLoad()"
        (cropperReady)="initCropper()" 
        (loadImageFailed)="imgFailed()">
      </image-cropper>
  </div>
  <div class="col-md-12">
    <label class="input">
        <input type="file" (change)="onFileChange($event)" />
        CHOOSE FILE
    </label>
    <button (click)="submit()">UPLOAD</button>
  </div>

</div>
