<div class="comment">
    <div routerLink = "/user/{{author.userId}}">
        <img  class="author-img" *ngIf="author.imgUrl;else default" src = "{{author.imgUrl}}" height="50px" >
        <ng-template #default><img class="author-img" #default src = "https://res.cloudinary.com/dtuafcbbd/image/upload/v1636811647/workforce-v2/149071.png" height="50px" ></ng-template>
        <div>
            <span>{{author.full_name}}</span>
            <span>{{comment.date}}</span>
        </div>
    </div>
    <div>
        <p>{{comment.content}}</p>
    </div>
</div>