<div *ngIf="author" class="article">
    <div routerLink = "/user/{{article.userId}}">
        <img  class="author-img" *ngIf="author.imgUrl;else default" src = "{{author.imgUrl}}" height="50px" >
        <ng-template #default><img class="author-img" #default src = "https://res.cloudinary.com/dtuafcbbd/image/upload/v1636811647/workforce-v2/149071.png" height="50px" ></ng-template>
        <div>
            <span>{{author.first_name + " " + author.last_name}}</span>
            <span>{{article.date}}</span>
        </div>
    </div>
    <div routerLink = {{link}}>
        <img *ngIf="article.imgUrl" src = {{article.imgUrl}} />
        
        <img *ngIf="!article.imgUrl" src = "https://res.cloudinary.com/dtuafcbbd/image/upload/v1638605736/workforce-v2/218-2182114_blog-post-icon-newsletter-icon-png.jpg" height="60px" width="80px">
        <div>
            <h3>{{article.preview.title | truncate : 10}}</h3>
            <p>{{article.preview.subtitle | truncate : 16 }}</p>
        </div>
    </div>
    <div>
        
    </div>
</div>