.element-option-div {
    width : 120px;
    display: inline-flex;
    justify-content: space-around;
    height: 30px;
    box-sizing: border-box;

    > button {
        height: 30px;
        width: 30px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}