<div class="login_fullbody">
    <div class="login_form">
        <img src="https://res.cloudinary.com/dtuafcbbd/image/upload/v1634719839/workforce-v2/WORK_FORCE_LOGO.svg" alt="logo" class="logo">
        <form>
            <label>
                Email
                <input/>
            </label>
            <label>
                Password
                <input type="password">
            </label>
            <a href="/login">Forgot Password?</a>
            <button>SIGNUP</button>
        </form>
        <div class="gradient-div">
            <span>OR</span>
        </div>
        <button class="signup">LOGIN</button>
    </div>
</div>