<div class="login_fullbody">
    <div class="login_form">
        <img src="https://res.cloudinary.com/dtuafcbbd/image/upload/v1634719839/workforce-v2/WORK_FORCE_LOGO.svg" alt="logo" class="logo">
        <form>
            <label>
                Email
                <input type = "text" name = "email" [(ngModel)]="email" />
            </label>
            <label>
                Password
                <input type="password" name = "password" [(ngModel)]="password" >
            </label>
            <div class="forgot_password">
                <a href="/login">Forgot Password?</a>
            </div>
            <button *ngIf="loading===false" (click)="login()">LOGIN</button>
            <button *ngIf="loading===true"><i class="fas fa-compact-disc fa-spin" disabled></i></button>
        </form>
        <p *ngIf="error" class="error">{{error}}</p>
        <div class="gradient-div">
            <span>OR</span>
        </div>
        <button class="signup" routerLink="/signup">SIGNUP</button>
    </div>
</div>