<div class ="bio">
    <div>
        <div class="about">
            <div>
                <h3>About Tolu</h3>
                <p>Update document requires atomic operators Update document requires atomic operators Update document requires atomic operators</p>
            </div>
            <div class="followers-and-posts">
                <div>
                    <p>Followers</p>
                    <span>
                        <p>28</p>
                        <img src="https://res.cloudinary.com/dtuafcbbd/image/upload/v1637784298/workforce-v2/followers_1.png" height="25px">
                    </span>
                </div>
                <div>
                    <p>Posts</p>
                    <span>
                        <p>43</p>
                        <img src="https://res.cloudinary.com/dtuafcbbd/image/upload/v1637785070/workforce-v2/posts_1.png" alt="posts" height="25px">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <button class="edit-button">Edit profile</button>
</div>