<div class ="bio">
    <div>
        <div class="about">
            <div>
                <h3>About {{user.first_name}}</h3>
                <p *ngIf="user.bio; else noBio">{{user.bio | truncate}} <a type="button">more</a></p>
                <ng-template #noBio>User has not added bio</ng-template>
            </div>
            <div class="followers-and-posts">
                <div>
                    <p>Followers</p>
                    <span>
                        <p *ngIf="user.followers;else noFollowers">{{user.followers.length}}</p>
                        <ng-template #noFollowers>0</ng-template>
                        <img src="https://res.cloudinary.com/dtuafcbbd/image/upload/v1637784298/workforce-v2/followers_1.png" height="25px">
                    </span>
                </div>
                <div>
                    <p>Posts</p>
                    <span>
                        <p *ngIf="user.posts;else noPosts">{{user.posts.length}}</p>
                        <ng-template #noPosts>0</ng-template>
                        <img src="https://res.cloudinary.com/dtuafcbbd/image/upload/v1637785070/workforce-v2/posts_1.png" alt="posts" height="25px">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <button class="edit-button">Edit profile</button>
</div>