    <div class = "nav-left">
        <img src="https://res.cloudinary.com/dtuafcbbd/image/upload/v1634719839/workforce-v2/WORK_FORCE_LOGO.svg" class = "logo">
    </div>
    <div class="nav-middle">
        <div class="search-bar">
            <input name = "search">
            <i class="fas fa-search"></i>
        </div>
        <div class = "buttons">
            <i class="fa fa-home" routerLink="/" aria-hidden="true"></i>
            <i class="fa fa-user-circle" routerLink="{{userId ? '/my-profile' : '/login'}}"></i>   
            <i *ngIf="userId" class="fa fa-bell"></i>
        </div>
    </div>
    <div class="nav-right">
        <i *ngIf="userData"  class="fas fa-sign-out-alt logout" (click)="signOut()"></i>
        <i class="fas fa-bars dropdown-button" (click)="handleToggle()" ></i>
    </div>