<div class = "picture-box">
    <div *ngIf="imgUrl;else noImg" class="picture" style="background-image: url({{imgUrl}});">
        <div *ngIf="editable" (click)="handleClick()">+</div>
    </div>
    <ng-template #noImg>
        <div class="picture" style="background-image: url(https://res.cloudinary.com/dtuafcbbd/image/upload/v1636811647/workforce-v2/149071.png);">
            <div *ngIf="editable" (click)="handleClick()">+</div>
        </div>
    </ng-template>
    <div class="user_name">
        <h1>{{name}}</h1><i (click)="handleName()" class="fas fa-pencil-alt"></i>
    </div>

    <div class="follow" *ngIf="!editable">
        <button class="following" *ngIf="following;else follow" (click)="toggleFollow()">FOLLOWING <i class="far fa-check-circle"></i></button>
        <ng-template #follow>
            <button (click)="toggleFollow()">FOLLOW</button>
        </ng-template>
        <p *ngIf="isAFollower" class="follower">follows you</p>
    </div>
</div>
