
:host {
    width: 100%;
}
.picture-box {
    box-sizing: border-box;
    height: 320px;
    width: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background: linear-gradient(#0A1E46 50%, #DFE1E6 50% , #DFE1E6 50%);
    border-radius: 8px;


    >.picture {
        border-radius: 50%;
        height: 200px;
        width: 200px;
        background-position: center;
        background-size: cover;
        border-radius: 50%;

        >img {
            height: 200px;
        }

        >p {
            background-color:rgba($color: #000000, $alpha: 0);
            color: rgba(173, 152, 152 , 0);
            height: 100%;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 1;
            padding: 30px;
            text-align: center;
        }
        
        >p:hover {
            transition: all;
            background-color: rgba($color: #000, $alpha: 0.5);
            opacity: 1;
            margin-bottom: 2px;
            color: #fff;
        }

        > div {
            position: relative;
            color: white;
            background-color: #19D2D2;
            height: 30px;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            top: 70%;
            left: 83%;
            border: 1px solid white;
        }
    }
    h1 {
        font-weight: bold;
        font-size: large;
        margin-top: 12px;   
    }

    .follow {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 40px;
        margin-top: 12px;
    
        >button {
            border: 1px solid #0A1E46;
            background-color: #0A1E46;
            color: #fff;
            border-radius: 4px;
        }
    
        .following {
            border: 1px solid #919090;
            background-color: #dfe6e1;
            color: #000;
        }

        .follower {
            margin-top: 4px;
            text-align: center;
        }
    }

}
