:host {
    background-color: #F6F4FA;
    height: 100%;
    width: 100%;
    overflow: auto;
    justify-content: center;
    overflow-y: auto;
}

.main-body {
    padding-top: 80px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    top : -60px;
    z-index: 0;

    >.main-left {
        height: 100%;
        width: 25vh;
    }

    >.main-middle {
        height: 100%;
        width: 70vh;
        margin-left: 20px;
        margin-right: 20px;
    }

    >.main-right {
        height: 100%;
        width: 25vh;
    }

}

.full-body {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    height: 100%;
    padding-top: 80px;
    position: relative;
    top : -60px;
    z-index: 0;

    >.main-left {
        height: 100%;
        width: 0;
        display: none;
    }

    >.main-middle {
        height: 100%;
        width: 70vh;
        margin-left: 20px;
        margin-right: 20px;
    }

    >.main-right {
        height: 100%;
        width: 0;
    }
}

@media only screen and (max-width: 800px) {

    .full-body {
        position: relative;
    }

    .main-left , .main-right {
        display: none;
        width: 0px;
    }

    .main-right {
        width: 100%;
    }
  }