<div class="login_fullbody">
    <div class="login_form">
        <img src="https://res.cloudinary.com/dtuafcbbd/image/upload/v1634719839/workforce-v2/WORK_FORCE_LOGO.svg" alt="logo" class="logo">
        <form>
            <label>
                Full Name
                <input name = "last_name" type = "text" [(ngModel)] = "data.full_name" required />
            </label>
            <label>
                Email
                <input name = "email" type = "email" [(ngModel)] = "data.email" required />
            </label>
            <label>
                Password
                <input name = "password" type="password" [(ngModel)] = "data.password" required >
            </label>
            <a href="/login">Forgot Password?</a>
            <p *ngIf="error" class="error">{{error}}</p>    
            <button *ngIf="!loading" type="submit" (click)="submit()" >SIGNUP</button>
            <button *ngIf="loading"><i class="fas fa-compact-disc fa-spin" disabled></i></button>
        </form>
        <div class="gradient-div">
            <span>OR</span>
        </div>
        <button class="signup" routerLink="/login">LOGIN</button>
    </div>
</div>