.fullpost {
    overflow-y: auto;
    height: 100%;
    padding-bottom: 20px;
    margin-left: 20px;
}
.header {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;;
    font-weight: bold;
}

.post_details {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif ;
}

.author {
    height: 60px;
    display: flex;
    margin-top: 8px;
    cursor: pointer;

    >img {
        border-radius: 50%;
        height: 40px;
        align-self: center;
    }

    >div {
        >p:nth-child(1) {
            font-weight: bolder;
        }
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 12px;
    }
}

.actions {
    align-self: baseline;
    > button {
        height: 40px;
        width: 40px;
        border: none;
        outline: none;
        background : #fff;

        >img {
            height: 25px;
        }
    }
}