.post {
}

p {
    padding-left: 20px;
}

* {
    font-family: sans-serif;
    outline: none;
}

.post_details {
    display: flex;
    justify-content: space-between;

    >div:nth-child(2) {
        display: flex;
        justify-content: space-between;
        width: 90px;

        > button {
            box-sizing: border-box;
            height: 43px;
            width: 43px;
            padding: 0px;
            border: none;
            > img {
                height : 40px;
            }
        }
    }
}

.author {
    padding-left: 20px;
    height: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: baseline;

    >p {
        padding: 0px;
        margin-top: 10px;
    }

    >div {
        width: auto;
        display: flex;
        align-items: center;

        >p {
            padding-left: 10px;
        }

    }
}

.header {
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom : 20px;
}